<div class="banner" id="banner">
    <a href="/" class="banner-content">
        <%#= image_tag "logo_placeholder.png", class: "logo" %>
        DEL FHIR Client
    </a>
    <a href="/about" class="about">
        <div class="banner-about">
            About
        </div>
    </a>
</div>

<h2 class='home-header mt-5'>Search for Data Elements by ID or Text</h2>
<div class='search-container'>
    <form class='search-form' action="/search" accept-charset="UTF-8" method="get">
        <select name='assessment' class='form-control search-dropdown'>
            <option value=''>All Forms</option>
            <option value='' disabled>---------------</option>
            <option value='' disabled>Active Forms</option>
            <option value='' disabled>---------------</option>
            <% @qssActive.each do |av| %>
                <% if av[:id].eql?(@assessment) %>
                    <option value="<%= av[:id] -%>" selected><%= av[:name].sub("MDS30", "MDS3.0") -%></option>
                <% else %>
                    <option value="<%= av[:id] -%>"><%= av[:name].sub("MDS30", "MDS3.0") -%></option>
                <% end %>
            <% end %>
            <option value='' disabled>---------------</option>
            <option value='' disabled>Inactive Forms</option>
            <option value='' disabled>---------------</option>
            <% @qssInactive.each do |iv| %>
                <% if iv[:id].eql?(@assessment) %>
                    <option value="<%= iv[:id] -%>" selected><%= iv[:name].sub("MDS30", "MDS3.0") -%></option>
                <% else %>
                    <option value="<%= iv[:id] -%>"><%= iv[:name].sub("MDS30", "MDS3.0") -%></option>
                <% end %>
            <% end %>
        </select>
        <div class="input-group">
            <input type="text" name="input" class="form-control" placeholder="DEL Search" 
                    aria-label="DEL Search" aria-describedby="basic-addon2" value="<%= @input -%>">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<% if @qs.present? %>
    <div class='search-table-container'>
        <table class='search-table'>
            <tr>
                <th class='search-table-col-assessment'>Assessment</th>
                <th class='search-table-col-id'>ID</th>
                <th class='search-table-col-title'>Title</th>
            </tr>
            <% @qs.each_pair do |form, items| %>
                <% items.each do |item| %>
                    <tr>
                        <td class='search-table-col-form'><%= form -%></td>
                        <td class='search-table-col-id'><%= item.prefix -%></td>
                        <td class='search-table-col-title'><%= item.text -%></td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
<% else %>
    <h4 class='no-search-results'>
        No Data Elements match the search term "<%= @input -%>"
    </h4>
<% end %>