<section>
    <a href="/questionnaire?version=<%= qv[:id] -%>&loinc=false" 
            class="card active-cards <%= "no-loinc" if qv[:code].nil? %> collapse show">
        <h5 class="card-header"><%= qv[:name].gsub("MDS3_0", "MDS3.0").gsub("_", " ") -%></h5>
        <div class="card-body d-flex flex-column">
            <h6 class="card-subtitle mb-2">
                <%= qv[:title] -%>
            </h6>
            <p class="mt-auto">
                Status: <%= qv[:status].capitalize %>
            </p>
            <p>
                <% if qv[:code].nil? %>
                    No LOINC Support
                <% else %>
                    LOINC Supported (<%= qv[:code][0]["code"] -%>)
                <% end %>
            </p>
            <small class="card-text">
                Published by <%= qv[:publisher] -%>
            </small>
        </div>
    </a>
</section>