<section>
    <div class='search-table-nav-container'>
        <div class='search-table-nav-back'>
            <form class='search-form' action="/search" accept-charset="UTF-8" method="get">
                <input type="hidden" name="assessment" value="<%= @assessmentID.to_s -%>" />
                <input type="hidden" name="input" value="<%= @input.to_s -%>" />
                <%= button_tag "Back", name: "page", value: @page - 1, disabled: @page == 1,
                        class: "btn btn-primary submit-btn" %>
            </form>
        </div>
        <p class='search-table-count'>
            Displaying
            <%= ((@page - 1) * 100 + 1).to_s + "-" + [@page * 100, @qsTotalSize].min.to_s -%>
            of <%= @qsTotalSize -%> total results
        </p>
        <div class='search-table-nav-next'>
            <form class='search-form' action="/search" accept-charset="UTF-8" method="get">
                <input type="hidden" name="assessment" value="<%= @assessmentID.to_s -%>" />
                <input type="hidden" name="input" value="<%= @input.to_s -%>" />
                <%= button_tag "Next", name: "page", value: @page + 1, disabled: @page == @pageUpperBound,
                        class: "btn btn-primary submit-btn" %>
            </form>
        </div>
    </div>
</section>