<% loadAttempts = 0 %> <%# it takes the backend some time to retrieve questionnaires, this avoids throwing an error %>
<% while @questionnaire.nil? && loadAttempts < 5 %>
    <% sleep(0.5) %>
    <% loadAttempts += 1%>
<% end %>

<% status = @questionnaire.status %>
<% isInactive = !status.eql?("active")%>
<div class="banner <%= (isInactive ? 'inactive-banner' : '') %>" id="banner"> 
    <a class="float-right banner-btn-<%= (isInactive ? "blue" : "gray" ) %>" href="/">
        <div class="banner-btn-content">Home</div>
    </a>
    <div class="banner-content">
        <%= @questionnaire.title %>
        <% if isInactive %>
            <del><%= "(v." + @questionnaire.version + ")" -%></del>
            <%= status.eql?("unknown") ? "INACTIVE" : status.upcase %>
        <% else %>
            <%= "(v." + @questionnaire.version + ")" %>
        <% end %>
    </div>
</div>

<div class="<%= (isInactive ? "inactive" : "active") %>-section">
    <div class="description">
        <small><%= @questionnaire.description %></small>
    </div>
    <% if @questionnaire.item.nil? %>
        <h3 class="no-questions">
            <%= @questionnaire.name %> (v.<%= @questionnaire.version %>) 
            currently has no questions.
        </h3>

    <% else %>
        <%= form_tag '/questionnaire', method: :get, id: "form" %>
            <%= hidden_field_tag "version", params[:version] %>
            <% pageArr = getPage(@questionnaire, @currentSection) %>
            <% qSect = pageArr[0] %>
            <% totalPages = pageArr[1] %>
            <% qSect.each do |qItem| %>
                <% leftMargin = "margin-left: " + (qItem.level * 4 + 2).to_s + "%" %>
                <% fontSize = "font-size: " + (qItem.level == 0 ? 20 : 13).to_s + "pt" %>
                <% width = "width: " + (100 - (qItem.level * 4 + 2)).to_s + "%" %>
                <% dynamicStyle = leftMargin + "; " + width + "; " + fontSize %>
                <% item = qItem.item %>
                <% type = item.type %>
                <% text = cleanLabel(item.text) %>
                <% id = item.linkId %>

                <% if type.eql?("group") %>
                    <% if qItem.level == 0 %>
                        <hr style="background-color: black">
                    <% end %>
                    <h4 class="mt-4" style="<%= dynamicStyle %>"><%= text %></h4>

                <% elsif type.eql?("display") %>
                    <p style="<%= dynamicStyle %>"><%= text %></p>

                <% else %>
                    <div class="form-group m-3 mb-4">    
                        <label style="<%= dynamicStyle %>"><%= text %></label>
                        <% maxLength = item.maxLength ? item.maxLength : "" %>

                        <% if type.eql?("text") %>
                            <% val = getValidation(item) %>
                            <%= text_field_tag id, nil, class: "form-control", value: getFromSession(id),
                                style: dynamicStyle, placeholder: "(Your input here)", 
                                required: true, pattern: val[:regex], title: val[:message], maxlength: maxLength %>

                        <% elsif type.eql?("date") %>
                            <input type="date" name="<%= id %>" value="<%= getFromSession(id) %>"
                                class="form-control" style="<%= dynamicStyle %>"
                                required>

                        <% elsif type.eql?("integer") %>
                            <input type="number" step="1" name="<%= id %>" value="<%= getFromSession(id) %>"
                                class="form-control" style="<%= dynamicStyle %>" maxlength="<%= maxLength %>">

                        <% else %>
                            <% options = getOrderedOptions(item) %>

                            <% if type.eql?("open-choice") %>
                                <% val = getValidation(item) %>
                                <% if val.has_key?(:yr) %> <%# All open-choice dates will have year regex %>

                                <% else %>
                                    <%= text_field_tag id, nil, list: id+"-list", class: "form-control", style: dynamicStyle,
                                        placeholder: "Choose a preset option from the dropdown or enter a custom answer", 
                                        required: true, pattern: val[:regex], title: val[:message], maxlength: maxLength %>
                                    <datalist id="<%= id %>-list">
                                        <% options.each do |option| %>
                                            <option value="<%= option[1] %>"><%= option[0] %></option>
                                        <% end %>
                                    </datalist>
                                <% end %>

                            <% elsif type.eql?("choice") %>
                                
                                <% if item.repeats %>
                                    <% options.each do |option| %>
                                        <div class="form-check" style="<%= dynamicStyle %>">
                                            <input class="form-check-input" type="checkbox" id="<%= id + "-" + option[1] %>"
                                                value="<%= option[1] %>" name="<%= id + "-" + option[1] %>">
                                            <label class="form-check-label" for="<%= id + "-" + option[1] %>">
                                                <%= option[0] %>
                                            </label>
                                        </div>
                                    <% end %>
                                
                                <% else %>
                                    <%= select_tag id, options_for_select(options), class: "form-control", style: dynamicStyle %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <small class="form-text" style="<%= leftMargin %>"><%= id %></small>
                    </div>
                <% end %>
            <% end %>

            <hr style="background-color: black"> 
            <% if @currentSection == totalPages %>
                <% if isInactive %>
                    <p style="text-align: center">
                        WARNING: You are about to submit 
                        <%= status.eql?("retired") ? "a retired" : "an inactive" %>
                        form! 
                    </p>
                <% else %>
                    <p style="text-align: center"> All done? Go ahead and submit! </p>
                <% end %>

                <div class="<%= @currentSection == 1 ? "submit-btn" : "page-change" %>-container">
                    <% if @currentSection != 1 %>
                        <button class="btn btn-<%=(isInactive ? "secondary" : "primary")%> page-change-option" 
                            name="page" value="<%= @currentSection - 1 %>">Back</button>
                    <% end %>
                    <button type="submit" class="btn btn-<%=(isInactive ? "secondary" : "primary")%> submit-btn"
                        name="page" value="submit">Submit</button>
                </div>

            <% else %>
                <div class="page-change-container">
                    <% if @currentSection == 1 %>
                        <button class="btn btn-<%=(isInactive ? "secondary" : "primary")%> page-change-option" 
                            name="page" value="<%= @currentSection - 1 %>" disabled>Back</button>
                    <% else %>
                        <button class="btn btn-<%=(isInactive ? "secondary" : "primary")%> page-change-option" 
                            name="page" value="<%= @currentSection - 1 %>">Back</button>
                    <% end %>
                    <button type="submit" class="btn btn-<%=(isInactive ? "secondary" : "primary")%> page-change-option"
                        name="page" value="<%= @currentSection + 1 %>">Next</button>
                </div>
            <% end %>
        </form>
    <% end %>
</div>