<% status = @questionnaire["resource"]["status"] %>
<% isInactive = !status.eql?("active")%>
<div class="banner <%= (isInactive ? 'inactive-banner' : '') %>" id="banner"> 
    <a class="float-right banner-btn-<%= (isInactive ? "blue" : "gray" ) %>" href="/">
        <div class="banner-btn-content">Home</div>
    </a>
    <div class="banner-content">
        <%= @questionnaire["resource"]["title"] %>
        <% if isInactive %>
            <del>
        <% end %>
        <%= "(v." + @questionnaire["resource"]["version"] + ")" %>
        <% if isInactive %>
            </del> (<%= status.eql?("unknown") ? "INACTIVE" : status.upcase %>)
        <% end %>
    </div>
</div>

<div class="<%= (isInactive ? "inactive" : "active") %>-section">
    <div class="description">
        <small><%= @questionnaire["resource"]["description"] %></small>
    </div>
    <%= form_tag('/submission', method: :get, id: "form") %>

        <% if @questionnaire["resource"]["item"].nil? %>
            <h3 class="no-questions">
                <%= @questionnaire["resource"]["name"] %> (v.<%= @questionnaire["resource"]["version"] %>) 
                currently has no questions.
            </h3>

        <% else %>
            <% flattenQuestionnaire(@questionnaire).each_with_index do |qItem, index| %>
                <% leftMargin = "margin-left: " + (qItem.level * 4 + 2).to_s + "%" %>
                <% fontSize = "font-size: " + (qItem.level == 0 ? 20 : 13).to_s + "pt" %>
                <% width = "width: " + (100 - (qItem.level * 4 + 2)).to_s + "%" %>
                <% dynamicStyle = leftMargin + "; " + width + "; " + fontSize %>
                <% item = qItem.item %>
                <% type = item["type"] %>
                <% text = item["text"] %>
                <% id = item["linkId"] %>

                <% if type.eql?("group") %>
                    <% if qItem.level == 0 %>
                        <hr style="background-color: black">
                    <% end %>
                    <h4 class="mt-4" style="<%= dynamicStyle %>"><%= text %></h4>

                <% elsif type.eql?("display") %>
                    <p style="<%= dynamicStyle %>"><%= text %></p>
                    
                <% else %>
                    <div class="form-group m-3 mb-4">    
                        <label style="<%= dynamicStyle %>"><%= text %></label>
                        <% if type.eql?("text") %>
                            <%= text_field_tag id, nil, class: "form-control",
                                style: dynamicStyle, placeholder: "(Your input here)"%>
                        <% elsif type.eql?("date") %>
                            <input type="date" id="<%= id %>" class="form-control" style="<%= dynamicStyle %>">

                        <% elsif type.eql?("integer") %>
                            <input type="number" step="1" id="<%= id %>" class="form-control" style="<%= dynamicStyle %>">

                        <% else %>
                            <% options = getOptions(item) %>
                            <% if type.eql?("open-choice")%>
                            
                                <%= text_field_tag id, nil, list: id+"-list", class: "form-control", style: dynamicStyle,
                                    placeholder: "Choose a preset option from the dropdown or enter a custom answer"%>
                                <datalist id="<%= id %>-list">
                                    <% options.each do |option| %>
                                        <option value="<%= option[1] %>"><%= option[0] %></option>
                                    <% end %>
                                </datalist>

                            <% elsif type.eql?("choice") %>
                                <%= select_tag id, options_for_select(options), class: "form-control" %>

                            <% end %>
                        <% end %>
                        <small class="form-text" style="<%= leftMargin %>"><%= id %></small>
                    </div>
                <% end %>
            <% end %>
        <% end %>

        <hr style="background-color: black"> 
        <% if isInactive %>
            <p style="text-align: center"> WARNING: You are about to submit
            <%= status.eql?("retired") ? "a retired" : "an inactive" %>
            form! </p>
        <% else %>
            <p style="text-align: center"> All done? Go ahead and submit! </p>
        <% end %>

        <div class="submit-btn-container">
            <button type="submit" class="btn btn-<%=(isInactive ? "secondary" : "primary")%> submit-btn">Submit</button>
        </div>
    </form>
</div>



<!-- Below is the first pass at a form using the DEL CSV (kept for reference while writing the real form) -->

<!--
    <%#= form_tag('/submission', method: :get) %>
        <%# @oldQuestionnaire.each_with_index do |list, listIndex| %>
            
            <%# Excludes all questions not mapped to patient transfers %>
            <%# if list["Item Subsets"].include?("8") || list["Item Subsets"].include?("9") %>
                
                <%# Prints current section %>
                <%# if !list["Section Name"].eql?(@currentSection) %>
                    <%# @currentSection = list["Section Name"] %>
                    <%# if !@currentSection.include?("Section GG") %>
                        <hr style="background-color: black">
                    <%# end %>
                    <h4 class="m-2 mt-4"> <%#= @currentSection.tr("\"", "") %> </h4>
                <%# end %>
                
                <%# if isQuestionActuallyLabel?(@oldQuestionnaire, listIndex) %> <%# Indicates "Question" is instructional %>
                    <hr>
                    <%# @currentQuestionGroup = list["Item ID"] %>
                    <%#= list["Question Text"].tr("\"", "") %>
                <%# else %>
                    <%# if !@currentQuestionGroup.nil? && !list["Item ID"].include?(@currentQuestionGroup) %>
                        <%# @currentQuestionGroup = nil %>
                        <hr>
                    <%# end %>
                    <div class="form-group m-3 mb-4">    
                        <label><%#= list["Question Text"].tr("\"", "") %></label>
                        <%# if list["Assessment Response Codes"].nil? %> <%# Exclusively text response %>
                            <%#= text_field_tag "text".concat(listIndex.to_s), nil,
                                class: "form-control", placeholder: "(Your input here)"%>
                        <%# elsif list["Assessment Response Codes"].include?("Text")%> <%# Multiple choice including text %>
                            <%#= text_field_tag "options".concat(listIndex.to_s), nil, 
                                list: "list".concat(listIndex.to_s), class: "form-control", 
                                placeholder: "Enter custom answer or choose preset option from dropdown"%>
                            <datalist id="list<%#= listIndex.to_s %>">
                                <%# list["Response Text"].split("|").each do |text| %>
                                    <option value="<%#=text.tr("\"", "")%>"></option>
                                <%# end %>
                            </datalist>
                        <%# else %> <%# Purely multiple choice %>
                            <%#= select_tag "select".concat(listIndex.to_s), 
                                options_for_select(list["Assessment Response Codes"].split("|").each_with_index.collect{ 
                                |code, index| [list["Response Text"].split("|")[index].tr("\"", ""), code] }),
                                class: "form-control" %>
                        <%# end %>
                        <small class="form-text"><%#= list["Item ID"] %></small>
                    </div>
                <%# end %>
            <%# end %>

        <%# end %>

        <button type="submit" class="btn btn-block btn-<%#=(isInactive ? "secondary" : "primary")%>">Submit</button>
    </form> 
-->