<div class="banner" id="banner">
    <div class="banner-content">DEL Demo</div>
</div>

<%= image_tag "placeholder.jpg", class: "descriptive-graphic" %>

<hr>

<div class="home-active-cards-container">
    <h2 class="home-active-cards-header">Choose a DEL Assessment to fill out</h2>
    <div class="home-active-cards">
        <% @questionnaireVersions.each do |qv| %>
            <% if qv[:status].eql?("active") %>
                <a href="/questionnaire?version=<%= qv[:id] -%>" class="card active-cards">
                    <h5 class="card-header"><%= qv[:name].sub("MDS30", "MDS3.0") -%></h5>
                    <div class="card-body d-flex flex-column">
                        <h6 class="card-subtitle mb-2"><%= qv[:title] -%></h6>
                        <small class="card-text align-self-end mt-auto">
                            Published by <%= qv[:publisher] -%>
                        </small>
                    </div>
                </a>
            <% end %>
        <% end %>
    </div>
    <p class="qmenu-link">Don't see the assessment version you're looking for?
        <a href="/q_menu">Check here</a>
    </p>
</div>

<hr>

<div class="">
    
</div>