<div class="banner" id="banner">
    <a href="/" class="banner-content">
        <%#= image_tag "logo_placeholder.png", class: "logo" %>
        DEL FHIR Client
    </a>
</div>

<%= image_tag "placeholder.jpg", class: "descriptive-graphic" %>

<hr>

<% inactiveVersions = Array.new %>
<div class="home-cards-container">
    <h2 class="home-cards-header">Choose an active DEL assessment to fill out</h2>
    <div class="home-cards">
        <% @questionnaireVersions.each do |qv| %>
            <% if qv[:status].eql?("active") %>
                <a href="/questionnaire?version=<%= qv[:id] -%>" class="card active-cards">
                    <h5 class="card-header"><%= qv[:name].sub("MDS30", "MDS3.0") -%></h5>
                    <div class="card-body d-flex flex-column">
                        <h6 class="card-subtitle mb-2"><%= qv[:title] -%></h6>
                        <small class="card-text align-self-end mt-auto">
                            Published by <%= qv[:publisher] -%>
                        </small>
                    </div>
                </a>
            <% else %>
                <% inactiveVersions.append(qv)%>
            <% end %>
        <% end %>
    </div>
</div>

<p class="inactive-toggle-link">Looking for an inactive assessment version?
    <a data-toggle="collapse" href="#inactive-card-container" 
            aria-expanded="false" aria-controls="inactive-card-container">
        Toggle inactive section
    </a>
</p>

<div id="inactive-card-container" class="home-cards-container collapse">
    <h2 class="home-cards-header">Choose an inactive DEL assessment to fill out</h2>
    <div class="home-cards">
        <% inactiveVersions.each do |iv| %>
            <a href="/questionnaire?version=<%= iv[:id] -%>" class="card active-cards">
                <h5 class="card-header"><%= iv[:name].sub("MDS30", "MDS3.0") -%></h5>
                <div class="card-body d-flex flex-column">
                    <h6 class="card-subtitle mb-2"><%= iv[:title] -%></h6>
                    <small class="card-text align-self-end mt-auto">
                        Published by <%= iv[:publisher] -%>
                    </small>
                </div>
            </a>
        <% end %>
    </div>
</div>

<hr>