<% status = @questionnaire.status %>
<% isInactive = !status.eql?("active")%>
<div class="banner <%= (isInactive ? 'inactive-banner' : '') %>" id="banner"> 
    <a class="float-right banner-btn-<%= (isInactive ? "blue" : "gray" ) %>" href="/">
        <div class="banner-btn-content">Home</div>
    </a>
    <div class="banner-content">
        <%= @questionnaire.title %>
        <% if isInactive %>
            <del><%= "(v." + @questionnaire.version + ")" -%></del>
            <%= status.eql?("unknown") ? "INACTIVE" : status.upcase %>
        <% else %>
            <%= "(v." + @questionnaire.version + ")" %>
        <% end %>
    </div>
</div>

<div class="<%= (isInactive ? "inactive" : "active") %>-section">
    <div class="description">
        <p><%= @questionnaire.description %></p>
    </div>

    <table id="qr">
        <tr>
            <th>Structure</th>
            <th>Question</th>
            <th>Answer</th>
            <th>ID</th>
        </tr>
        <% qrDisplay = qrDisplay(@assessment) %>
        <% qrDisplay.each do |qrSect| %>
            <% qrSect.each_with_index do |qrItem, i| %>
                <% treeText = "|---" * qrItem.level %>
                <% treeText += (qrSect[i + 1] && qrSect[i + 1].level == qrItem.level + 1) ? "* " : "> " %>
                <tr>
                    <td><%= treeText%></td>
                    <td><%= (qrItem.item.text ? qrItem.item.text : "") %></td>
                    <td>
                        <% qrItem.item.answer.each_with_index do |answer, index| %>
                            <% unless index == 0 %>
                                <br>
                            <% end %>
                            <% ivs = answer.instance_variables %>
                            <% ivs = ivs.select{ |iv| answer.instance_variable_get(iv) && iv.to_s.include?("value") } %>
                            <% value = answer.instance_variable_get(ivs.last) %>
                            <%= (value.respond_to?("display") ? value.display : value.to_s) %>
                        <% end %>
                    </td>
                    <td><%= qrItem.item.linkId %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>
