<% status = @questionnaire.status %>
<% isInactive = !status.eql?("active")%>
<div class="banner <%= (isInactive ? 'inactive-banner' : '') %>" id="banner"> 
    <a class="float-right banner-btn-<%= (isInactive ? "blue" : "gray" ) %>" href="/">
        <div class="banner-btn-content">Home</div>
    </a>
    <div class="banner-content">
        <%= @questionnaire.title %>
        <% if isInactive %>
            <del><%= "(v." + @questionnaire.version + ")" -%></del>
            <%= status.eql?("unknown") ? "INACTIVE" : status.upcase %>
        <% else %>
            <%= "(v." + @questionnaire.version + ")" %>
        <% end %>
    </div>
</div>

<%= @assessment.to_json %>
